<!-- Esta es la pagina a la que llevara el link del correo -->
{% extends 'jugador/base.html' %}

{% block content %}
	{% if validlink %}
	<!-- Formulario para restablecer contraseña -->
	<form method="post">
	
		<!-- Seguridad -->
		{% csrf_token %}
	
		<!-- Campo para la nueva contraseña -->	
		{{ form.new_password1.errors }}
		<label for="id_new_password1">Nueva contraseña</label>
		{{ form.new_password1 }}
		
		<!-- Campo para confirmar la contraseña -->
		{{ form.new_password2.errors }}
		<label for="id_new_password2">Confirme la contraseña</label>
		{{ form.new_password2 }}
		
		<!-- Boton para enviar -->
		<input type="Submit" value="Cambiar contraseña">
	</form>
	{% else %}
	<h1>ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
	{% endif %}
{% endblock %}